@import url("https://fonts.googleapis.com/css?family=Neuton&display=swap");
/* Type
-------------------------------------------------- */
*, :before, :after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@media (max-width: 940px) {
  html {
    font-size: 16px; } }

body {
  line-height: 1.6;
  color: #000; }

p, ol, ul {
  color: #000;
  font-weight: 400; }

a.link, .link a {
  cursor: pointer;
  color: #F46445;
  text-decoration: none; }

a.link:hover, .link a:hover {
  text-decoration: underline; }

a.link.is-underlined {
  border-bottom-color: #F46445;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom: 2px;
  text-decoration: none; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4, .title {
  font-family: "Neuton", serif;
  font-weight: 400;
  color: #000;
  line-height: 1.2;
  margin: 0; }

.title {
  font-size: 4.5rem; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem; }

h4, h5, h6 {
  font-size: 1.75rem; }

.has-font-weight-300 {
  font-weight: 300; }

@media (max-width: 768px) {
  h1, h2, .title {
    font-size: 2.5rem; }
  h3, h4 {
    font-size: 1.75rem; } }

.subtitle {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  color: #000;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem; }

@media (max-width: 768px) {
  .subtitle {
    font-size: 1.25rem; } }

.caps {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500; }

.h1.has-text-primary,
.h2.has-text-primary,
.h3.has-text-primary,
.h4.has-text-primary,
.h5.has-text-primary,
.h6.has-text-primary,
.has-text-primary h1,
.has-text-primary h2,
.has-text-primary h3,
.has-text-primary h4,
.has-text-primary h5,
.has-text-primary h6,
a.has-text-primary,
p.has-text-primary,
ol.has-text-primary,
ul.has-text-primary,
li.has-text-primary,
.has-text-primary a,
.has-text-primary p,
.has-text-primary ol,
.has-text-primary ul,
.has-text-primary li {
  color: #F46445 !important; }

.h1.has-text-secondary,
.h2.has-text-secondary,
.h3.has-text-secondary,
.h4.has-text-secondary,
.h5.has-text-secondary,
.h6.has-text-secondary,
.has-text-secondary h1,
.has-text-secondary h2,
.has-text-secondary h3,
.has-text-secondary h4,
.has-text-secondary h5,
.has-text-secondary h6,
a.has-text-secondary,
p.has-text-secondary,
ol.has-text-secondary,
ul.has-text-secondary,
li.has-text-secondary,
.has-text-secondary a,
.has-text-secondary p,
.has-text-secondary ol,
.has-text-secondary ul,
.has-text-secondary li {
  color: #F46445 !important; }

.h1.has-text-black,
.h2.has-text-black,
.h3.has-text-black,
.h4.has-text-black,
.h5.has-text-black,
.h6.has-text-black,
.has-text-black h1,
.has-text-black h2,
.has-text-black h3,
.has-text-black h4,
.has-text-black h5,
.has-text-black h6,
a.has-text-black,
p.has-text-black,
ol.has-text-black,
ul.has-text-black,
li.has-text-black,
.has-text-black a,
.has-text-black p,
.has-text-black ol,
.has-text-black ul,
.has-text-black li {
  color: #000 !important; }

.h1.has-text-grey,
.h2.has-text-grey,
.h3.has-text-grey,
.h4.has-text-grey,
.h5.has-text-grey,
.h6.has-text-grey,
.has-text-grey h1,
.has-text-grey h2,
.has-text-grey h3,
.has-text-grey h4,
.has-text-grey h5,
.has-text-grey h6,
a.has-text-grey,
p.has-text-grey,
ol.has-text-grey,
ul.has-text-grey,
li.has-text-grey,
.has-text-grey a,
.has-text-grey p,
.has-text-grey ol,
.has-text-grey ul,
.has-text-grey li {
  color: #f6f6f6 !important; }

.h1.has-text-white,
.h2.has-text-white,
.h3.has-text-white,
.h4.has-text-white,
.h5.has-text-white,
.h6.has-text-white,
.has-text-white h1,
.has-text-white h2,
.has-text-white h3,
.has-text-white h4,
.has-text-white h5,
.has-text-white h6,
a.has-text-white,
p.has-text-white,
ol.has-text-white,
ul.has-text-white,
li.has-text-white,
.has-text-white a,
.has-text-white p,
.has-text-white ol,
.has-text-white ul,
.has-text-white li {
  color: #fff !important; }

.h1.has-text-dark,
.h2.has-text-dark,
.h3.has-text-dark,
.h4.has-text-dark,
.h5.has-text-dark,
.h6.has-text-dark,
.has-text-dark h1,
.has-text-dark h2,
.has-text-dark h3,
.has-text-dark h4,
.has-text-dark h5,
.has-text-dark h6,
a.has-text-dark,
p.has-text-dark,
ol.has-text-dark,
ul.has-text-dark,
li.has-text-dark,
.has-text-dark a,
.has-text-dark p,
.has-text-dark ol,
.has-text-dark ul,
.has-text-dark li {
  color: #292929 !important; }

.h1.has-text-medium,
.h2.has-text-medium,
.h3.has-text-medium,
.h4.has-text-medium,
.h5.has-text-medium,
.h6.has-text-medium,
.has-text-medium h1,
.has-text-medium h2,
.has-text-medium h3,
.has-text-medium h4,
.has-text-medium h5,
.has-text-medium h6,
a.has-text-medium,
p.has-text-medium,
ol.has-text-medium,
ul.has-text-medium,
li.has-text-medium,
.has-text-medium a,
.has-text-medium p,
.has-text-medium ol,
.has-text-medium ul,
.has-text-medium li {
  color: #757575 !important; }

.h1.has-text-light,
.h2.has-text-light,
.h3.has-text-light,
.h4.has-text-light,
.h5.has-text-light,
.h6.has-text-light,
.has-text-light h1,
.has-text-light h2,
.has-text-light h3,
.has-text-light h4,
.has-text-light h5,
.has-text-light h6,
a.has-text-light,
p.has-text-light,
ol.has-text-light,
ul.has-text-light,
li.has-text-light,
.has-text-light a,
.has-text-light p,
.has-text-light ol,
.has-text-light ul,
.has-text-light li {
  color: #dddddd !important; }

.h1.has-text-ivory,
.h2.has-text-ivory,
.h3.has-text-ivory,
.h4.has-text-ivory,
.h5.has-text-ivory,
.h6.has-text-ivory,
.has-text-ivory h1,
.has-text-ivory h2,
.has-text-ivory h3,
.has-text-ivory h4,
.has-text-ivory h5,
.has-text-ivory h6,
a.has-text-ivory,
p.has-text-ivory,
ol.has-text-ivory,
ul.has-text-ivory,
li.has-text-ivory,
.has-text-ivory a,
.has-text-ivory p,
.has-text-ivory ol,
.has-text-ivory ul,
.has-text-ivory li {
  color: #fbf0e9 !important; }

.h1.has-text-transparent,
.h2.has-text-transparent,
.h3.has-text-transparent,
.h4.has-text-transparent,
.h5.has-text-transparent,
.h6.has-text-transparent,
.has-text-transparent h1,
.has-text-transparent h2,
.has-text-transparent h3,
.has-text-transparent h4,
.has-text-transparent h5,
.has-text-transparent h6,
a.has-text-transparent,
p.has-text-transparent,
ol.has-text-transparent,
ul.has-text-transparent,
li.has-text-transparent,
.has-text-transparent a,
.has-text-transparent p,
.has-text-transparent ol,
.has-text-transparent ul,
.has-text-transparent li {
  color: transparent !important; }

.has-text-centered {
  text-align: center !important; }

.has-text-justified {
  text-align: justify !important; }

.has-text-left {
  text-align: left !important; }

.has-text-right {
  text-align: right !important; }

hr {
  border: none;
  background-color: #dddddd;
  width: 100%;
  height: 1px;
  position: relative; }

hr.center {
  background-color: transparent; }

hr.is-spaced {
  margin-top: 32px;
  margin-bottom: 32px; }

hr.center:after {
  background-color: #dddddd;
  content: '';
  position: absolute;
  left: 32px;
  right: 32px;
  max-width: 1064px;
  height: 1px;
  margin: 0 auto; }

/* Grid
-------------------------------------------------- */
.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: -32px; }

.row:last-child {
  margin-bottom: -32px; }

.col {
  box-sizing: border-box;
  flex: 1 1 0%;
  padding-left: 32px;
  padding-bottom: 32px;
  position: relative; }

.row.is-gap-large {
  margin-left: -64px; }

.row.is-gap-large .col {
  padding-left: 64px; }

@media (max-width: 940px) {
  .row.is-gap-large {
    margin-left: -32px; }
  .row.is-gap-large .col {
    padding-left: 32px; } }

.row.is-gap-medium {
  margin-left: -32px; }

.row.is-gap-medium .col {
  padding-left: 32px; }

.row.is-gapless {
  margin-left: 0; }

.row.is-gapless .col {
  padding-left: 0; }

.row.is-bottomless {
  margin-bottom: 0; }

.row.is-bottomless .col {
  padding-bottom: 0; }

.row.is-centered {
  justify-content: center; }

.row.is-reversed {
  flex-direction: row-reverse; }

.row.is-aligned-top {
  align-items: flex-start; }

.row.is-aligned-middle {
  align-items: center; }

.row.is-aligned-bottom {
  align-items: flex-end; }

.row.is-spaced-between {
  justify-content: space-between; }

.row.is-spaced-around {
  justify-content: space-around; }

.is-equal-height .col {
  display: flex; }

.row.is-right {
  justify-content: flex-end;
  align-self: flex-end; }

.col.is-narrow {
  flex: none; }

.row.is-multiline {
  flex-wrap: wrap; }

.col.is-12 {
  flex-basis: 100%;
  max-width: 100%; }

.col.is-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col.is-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col.is-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col.is-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col.is-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col.is-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col.is-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col.is-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col.is-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col.is-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col.is-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.is-pulled-12, .row.is-reversed .is-pushed-12 {
  margin-left: -100%; }

.is-pulled-11, .row.is-reversed .is-pushed-11 {
  margin-left: -91.66667%; }

.is-pulled-10, .row.is-reversed .is-pushed-10 {
  margin-left: -83.33333%; }

.is-pulled-9, .row.is-reversed .is-pushed-9 {
  margin-left: -75%; }

.is-pulled-8, .row.is-reversed .is-pushed-8 {
  margin-left: -66.66667%; }

.is-pulled-7, .row.is-reversed .is-pushed-7 {
  margin-left: -58.33333%; }

.is-pulled-6, .row.is-reversed .is-pushed-6 {
  margin-left: -50%; }

.is-pulled-5, .row.is-reversed .is-pushed-5 {
  margin-left: -41.66667%; }

.is-pulled-4, .row.is-reversed .is-pushed-4 {
  margin-left: -33.33333%; }

.is-pulled-3, .row.is-reversed .is-pushed-3 {
  margin-left: -25%; }

.is-pulled-2, .row.is-reversed .is-pushed-2 {
  margin-left: -16.66667%; }

.is-pulled-1, .row.is-reversed .is-pushed-1 {
  margin-left: -8.33333%; }

.is-pushed-12, .row.is-reversed .is-pulled-12 {
  margin-right: -100%; }

.is-pushed-11, .row.is-reversed .is-pulled-11 {
  margin-right: -91.66667%; }

.is-pushed-10, .row.is-reversed .is-pulled-10 {
  margin-right: -83.33333%; }

.is-pushed-9, .row.is-reversed .is-pulled-9 {
  margin-right: -75%; }

.is-pushed-8, .row.is-reversed .is-pulled-8 {
  margin-right: -66.66667%; }

.is-pushed-7, .row.is-reversed .is-pulled-7 {
  margin-right: -58.33333%; }

.is-pushed-6, .row.is-reversed .is-pulled-6 {
  margin-right: -50%; }

.is-pushed-5, .row.is-reversed .is-pulled-5 {
  margin-right: -41.66667%; }

.is-pushed-4, .row.is-reversed .is-pulled-4 {
  margin-right: -33.33333%; }

.is-pushed-3, .row.is-reversed .is-pulled-3 {
  margin-right: -25%; }

.is-pushed-2, .row.is-reversed .is-pulled-2 {
  margin-right: -16.66667%; }

.is-pushed-1, .row.is-reversed .is-pulled-1 {
  margin-right: -8.33333%; }

@media (max-width: 768px) {
  .row {
    margin-left: -24px; }
  .col {
    padding-left: 24px;
    padding-bottom: 24px; }
  [class*="is-pulled"], [class*="is-pushed"], .row.is-reversed [class*="is-pulled"], .row.is-reversed [class*="is-pushed"] {
    margin: 0; }
  .col, .col[class*="is-"] {
    flex-basis: 100%;
    max-width: 100%; }
  .col.is-8-tablet {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col.is-6-tablet {
    flex-basis: 50%;
    max-width: 50%; }
  .col.is-4-tablet {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col.is-3-tablet {
    flex-basis: 25%;
    max-width: 25%; } }

@media (max-width: 480px) {
  .col.is-8-mobile {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .col.is-6-mobile {
    flex-basis: 50%;
    max-width: 50%; }
  .col.is-4-mobile {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .col.is-3-mobile {
    flex-basis: 25%;
    max-width: 25%; } }

/* Layout
-------------------------------------------------- */
section {
  width: 100%;
  position: relative;
  padding-top: 96px;
  padding-bottom: 96px; }

section.is-large {
  padding-top: 192px;
  padding-bottom: 192px; }

section.is-small {
  padding-top: 32px;
  padding-bottom: 32px; }

section.is-topless {
  padding-top: 0; }

section.is-bottomless {
  padding-bottom: 0; }

@media (max-width: 768px) {
  section, section.is-large {
    padding-top: 64px;
    padding-bottom: 64px; }
  section.is-topless-tablet {
    padding-top: 0; }
  section.is-bottomless-tablet {
    padding-bottom: 0; } }

section.hero {
  padding-top: 156px; }

section.hero.is-large {
  padding-top: 252px; }

@media (max-width: 768px) {
  section.hero.is-large {
    padding-top: 124px; } }

.container {
  max-width: 1128px;
  width: 100%;
  padding: 0 32px 0 32px;
  margin: 0 auto; }

@media (max-width: 768px) {
  .container {
    padding: 0 24px 0 24px; } }

/* Header
-------------------------------------------------- */
[data-aos] {
  pointer-events: none; }
  [data-aos].aos-animate {
    pointer-events: auto; }

.header {
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.logo {
  background-image: url("../images/logoswift-logo.svg");
  background-repeat: no-repeat;
  height: 26px;
  background-size: contain; }

.nav-left ul, .nav-right ul {
  margin-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in; }

.nav {
  margin-bottom: 0; }

.nav li {
  list-style: none;
  display: inline-block;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in; }

.nav li + li {
  padding-left: 32px; }

@media (max-width: 940px) {
  .nav li + li {
    padding-left: 16px; } }

.nav li a, .nav-left li a, .nav-right li a {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  font-weight: 500;
  color: #000;
  text-decoration: none; }

.nav li a:hover, .nav-left li a:hover, .nav-right li a:hover {
  color: #757575;
  text-decoration: none; }

.nav-mobile {
  position: absolute;
  top: 96px;
  left: 0;
  font-family: "Neuton", serif;
  display: none;
  width: 100%;
  z-index: 2;
  list-style: none;
  background-color: #fff;
  padding: 64px; }

@media (max-width: 480px) {
  .nav-mobile {
    padding: 32px; } }

.nav-mobile::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: #292929; }

.nav-mobile a {
  text-decoration: none;
  color: #fff; }

.nav-mobile li {
  padding: 14px 0; }

.nav-mobile li:first-child {
  padding-top: 0; }

.nav-mobile li:last-child {
  padding-bottom: 0; }

.nav-mobile > li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.15); }

.hamburger {
  display: none;
  cursor: pointer;
  float: right; }

.hamburger div {
  width: 24px;
  height: 2px;
  background-color: #292929;
  margin: 6px 0; }

@media (max-width: 768px) {
  .logo.center {
    float: left; }
  .hamburger {
    display: block; } }

/* Card
-------------------------------------------------- */
.banner {
  padding: 1rem;
  border-radius: 6px 6px 0 0;
  text-align: center;
  background-color: #F46445;
  color: #fff; }

.banner + .card {
  border-radius: 0 0 6px 6px; }

.card-quote::after, .card-quote-round::after, .card-quote-slant::after {
  content: '';
  background-color: inherit;
  -webkit-mask: url("../images/assets/blockquote.svg") center top/contain no-repeat;
  position: absolute;
  width: 4rem;
  height: 1rem;
  bottom: -1rem;
  left: 32px; }

.card-quote.is-round::after {
  -webkit-mask: url("../images/assets/blockquote-round.svg") center top/contain no-repeat; }

.card-quote.is-slant::after {
  width: 7rem;
  height: 2rem;
  bottom: -2rem;
  -webkit-mask: url("../images/assets/blockquote-slant.svg") center top/contain no-repeat; }

[class*="card-quote"] + p {
  margin-top: 32px;
  margin-left: 32px; }

.card-quote-text {
  font-style: italic; }

.card {
  padding: 32px;
  border-radius: 6px;
  display: inline-block;
  width: 100%;
  z-index: 1; }

.card.is-section {
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 32px;
  padding-right: 32px; }

.card.is-large {
  padding: 64px; }

@media (max-width: 768px) {
  .card.is-section {
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 24px;
    padding-right: 24px; }
  .card.is-large {
    padding: 32px; }
  .card.is-small-tablet {
    padding-top: 24px;
    padding-bottom: 24px; }
  .card.is-section-tablet {
    padding-top: 64px;
    padding-bottom: 64px; } }

.row.is-split {
  margin-left: 0;
  margin-bottom: 0; }

.row.is-split .col {
  display: flex;
  padding-left: 0;
  padding-bottom: 0; }

.row.is-split.is-aligned-middle {
  align-items: inherit; }

.row.is-split.is-aligned-middle .split-container {
  align-items: center; }

.split-container {
  display: flex;
  width: 100%;
  max-width: 564px; }

.split-container.is-left {
  margin-left: auto; }

.split-container.is-right {
  margin-right: auto; }

@media (max-width: 768px) {
  .split {
    padding: 48px 24px 48px 24px;
    min-height: 340px; }
  .split-container {
    max-width: 100%; }
  .split-container .card.is-image {
    padding: 0;
    min-height: 340px; }
  .split .is-left, .split .is-right {
    float: none;
    max-width: 100%;
    margin: 0 auto; } }

.collage {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 0; }

.collage.is-right {
  left: 50%; }

.collage.is-left {
  right: 50%; }

.split-container.is-full-width {
  max-width: 100%; }

@media (max-width: 768px) {
  section.is-collage {
    padding: 0; }
  section.is-collage .col:first-child {
    padding-bottom: 0; }
  section.is-collage .card {
    padding-top: 64px;
    padding-bottom: 64px; }
  section.is-collage .container {
    max-width: 100%;
    padding: 0; } }

/* Form
-------------------------------------------------- */
.btn {
  display: inline-flex;
  padding: 2rem;
  border-radius: 3px;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.btn {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  line-height: 1rem;
  cursor: pointer !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  font-size: inherit;
  font-weight: 600;
  background-color: #F46445;
  padding: 1.25rem 2rem;
  border: 1px solid #F46445;
  color: #fff !important; }
  .btn:hover {
    background-color: #f56c4f;
    border-color: #f56c4f;
    color: #fff;
    text-decoration: none; }

.btn.is-small {
  padding: 0.5rem 1rem; }

.btn.is-large {
  padding: 1rem 2rem; }

.is-full {
  width: 100%;
  padding: auto 0;
  text-align: center; }

.btn.is-primary {
  background-color: #F46445;
  border-color: #F46445;
  color: #fff !important; }
  .btn.is-primary:hover {
    background-color: #f56c4f;
    border-color: #f56c4f;
    color: #fff;
    text-decoration: none; }

.btn.is-secondary {
  background-color: #F46445;
  border-color: #F46445;
  color: #fff !important; }
  .btn.is-secondary:hover {
    background-color: #f56c4f;
    border-color: #f56c4f;
    color: #fff;
    text-decoration: none; }

.btn.is-black {
  background-color: #000;
  border-color: #000;
  color: #fff !important; }
  .btn.is-black:hover {
    background-color: #050505;
    border-color: #050505;
    color: #fff;
    text-decoration: none; }

.btn.is-grey {
  background-color: #f6f6f6;
  border-color: #f6f6f6;
  color: #fff !important; }
  .btn.is-grey:hover {
    background-color: #fbfbfb;
    border-color: #fbfbfb;
    color: #fff;
    text-decoration: none; }

.btn.is-white {
  background-color: #fff;
  border-color: #fff;
  color: #fff !important; }
  .btn.is-white:hover {
    background-color: white;
    border-color: white;
    color: #fff;
    text-decoration: none; }

.btn.is-dark {
  background-color: #292929;
  border-color: #292929;
  color: #fff !important; }
  .btn.is-dark:hover {
    background-color: #2e2e2e;
    border-color: #2e2e2e;
    color: #fff;
    text-decoration: none; }

.btn.is-medium {
  background-color: #757575;
  border-color: #757575;
  color: #fff !important; }
  .btn.is-medium:hover {
    background-color: #7a7a7a;
    border-color: #7a7a7a;
    color: #fff;
    text-decoration: none; }

.btn.is-light {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #fff !important; }
  .btn.is-light:hover {
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    color: #fff;
    text-decoration: none; }

.btn.is-ivory {
  background-color: #fbf0e9;
  border-color: #fbf0e9;
  color: #fff !important; }
  .btn.is-ivory:hover {
    background-color: #fdf6f2;
    border-color: #fdf6f2;
    color: #fff;
    text-decoration: none; }

.btn.is-transparent {
  background-color: transparent;
  border-color: transparent;
  color: #fff !important; }
  .btn.is-transparent:hover {
    background-color: rgba(5, 5, 5, 0);
    border-color: rgba(5, 5, 5, 0);
    color: #fff;
    text-decoration: none; }

.btn.is-white-primary {
  background-color: #fff;
  border-color: #fff;
  color: #F46445 !important; }
  .btn.is-white-primary:hover {
    text-decoration: none; }

.btn.is-white-secondary {
  background-color: #fff;
  border-color: #fff;
  color: #F46445 !important; }
  .btn.is-white-secondary:hover {
    text-decoration: none; }

.btn.is-white-black {
  background-color: #fff;
  border-color: #fff;
  color: #000 !important; }
  .btn.is-white-black:hover {
    text-decoration: none; }

.btn.is-white-grey {
  background-color: #fff;
  border-color: #fff;
  color: #f6f6f6 !important; }
  .btn.is-white-grey:hover {
    text-decoration: none; }

.btn.is-white-white {
  background-color: #fff;
  border-color: #fff;
  color: #fff !important; }
  .btn.is-white-white:hover {
    text-decoration: none; }

.btn.is-white-dark {
  background-color: #fff;
  border-color: #fff;
  color: #292929 !important; }
  .btn.is-white-dark:hover {
    text-decoration: none; }

.btn.is-white-medium {
  background-color: #fff;
  border-color: #fff;
  color: #757575 !important; }
  .btn.is-white-medium:hover {
    text-decoration: none; }

.btn.is-white-light {
  background-color: #fff;
  border-color: #fff;
  color: #dddddd !important; }
  .btn.is-white-light:hover {
    text-decoration: none; }

.btn.is-white-ivory {
  background-color: #fff;
  border-color: #fff;
  color: #fbf0e9 !important; }
  .btn.is-white-ivory:hover {
    text-decoration: none; }

.btn.is-white-transparent {
  background-color: #fff;
  border-color: #fff;
  color: transparent !important; }
  .btn.is-white-transparent:hover {
    text-decoration: none; }

@media (max-width: 768px) {
  .is-full-tablet {
    width: 100%;
    padding: auto 0;
    text-align: center;
    margin-left: 0 !important; } }

@media (max-width: 480px) {
  .is-full-mobile {
    width: 100%;
    padding: auto 0;
    text-align: center;
    margin-left: 0; } }

/* List
-------------------------------------------------- */
.list {
  list-style: none; }

.list.is-inline li {
  display: inline-block;
  padding-top: 0; }

.list.is-inline li + li {
  padding-left: 1rem; }

.list.is-inline.is-large li + li {
  padding-left: 2rem; }

.list li + li {
  padding-top: .5rem; }

.list.has-bullets, .content ul {
  list-style: disc outside;
  margin-left: 2rem; }

.list.has-dividers {
  list-style: none;
  margin-left: 0; }

.list.has-dividers li {
  display: inline-flex;
  align-items: top;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.list.has-dividers li:first-child {
  padding-top: 0; }

.list.has-dividers li:last-child {
  padding-bottom: 0; }

.list.has-dividers li + li {
  border-top: 1px solid #dddddd; }

.list .icon.is-left {
  padding-right: 1rem; }

.list .icon.is-right {
  margin-left: auto;
  margin-right: 0; }

.list img {
  width: 20px;
  min-width: 20px; }

.icon {
  width: 1rem;
  width: auto;
  line-height: inherit;
  align-items: center;
  display: inline-flex;
  justify-content: center; }

/* Animation
-------------------------------------------------- */
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

div.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fbf0e9;
  z-index: 9;
  transition: opacity 1s;
  display: flex;
  justify-content: center;
  align-items: center; }

div.loading img {
  animation: rotate 1s infinite linear; }

div.loading.hidden {
  opacity: 0;
  pointer-events: none; }

/* Package
-------------------------------------------------- */
.number-outline {
  height: 70px;
  width: 70px;
  font-size: 1.75rem;
  border-radius: 50%;
  line-height: 66px;
  border: 2px solid #F46445;
  background-color: transparent;
  color: #F46445;
  margin: 0 auto 1.5rem auto; }

.plan-panel-header {
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%; }

.plan-panel-header span {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  font-weight: 400;
  float: right;
  color: #F46445;
  line-height: 1;
  margin-top: 5px; }

.load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fbf0e9; }

.modalDialog {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: auto; }

.modalDialog:target {
  opacity: 1;
  pointer-events: auto; }

.modalDialog > div {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 30px;
  border-radius: 4px;
  background: #fff; }

.close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  display: block;
  cursor: pointer; }

/* Background
-------------------------------------------------- */
.css-166tz6a {
  background: #F46445 !important; }

.has-background-about {
  background: url("../images/about.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.has-animated-background-gif {
  background: url("../images/gif.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.is-contained {
  background-size: contain; }

.is-aligned-top {
  background-position: center top; }

.is-aligned-bottom {
  background-position: center bottom; }

.is-pattern {
  background-repeat: repeat;
  background-position: center;
  background-size: auto; }

.is-primary {
  background-color: #F46445 !important; }

.is-secondary {
  background-color: #F46445 !important; }

.is-black {
  background-color: #000 !important; }

.is-grey {
  background-color: #f6f6f6 !important; }

.is-white {
  background-color: #fff !important; }

.is-dark {
  background-color: #292929 !important; }

.is-medium {
  background-color: #757575 !important; }

.is-light {
  background-color: #dddddd !important; }

.is-ivory {
  background-color: #fbf0e9 !important; }

.is-transparent {
  background-color: transparent !important; }

@media (max-width: 768px) {
  .is-primary-tablet {
    background-color: #F46445 !important; }
  .is-secondary-tablet {
    background-color: #F46445 !important; }
  .is-black-tablet {
    background-color: #000 !important; }
  .is-grey-tablet {
    background-color: #f6f6f6 !important; }
  .is-white-tablet {
    background-color: #fff !important; }
  .is-dark-tablet {
    background-color: #292929 !important; }
  .is-medium-tablet {
    background-color: #757575 !important; }
  .is-light-tablet {
    background-color: #dddddd !important; }
  .is-ivory-tablet {
    background-color: #fbf0e9 !important; }
  .is-transparent-tablet {
    background-color: transparent !important; } }

.card.is-primary {
  background-color: #F46445; }

.card.is-secondary {
  background-color: #F46445; }

.card.is-black {
  background-color: #000; }

.card.is-grey {
  background-color: #f6f6f6; }

.card.is-white {
  background-color: #fff; }

.card.is-dark {
  background-color: #292929; }

.card.is-medium {
  background-color: #757575; }

.card.is-light {
  background-color: #dddddd; }

.card.is-ivory {
  background-color: #fbf0e9; }

.card.is-transparent {
  background-color: transparent; }

.has-fill-primary {
  fill: #F46445; }

.has-fill-secondary {
  fill: #F46445; }

.has-fill-black {
  fill: #000; }

.has-fill-grey {
  fill: #f6f6f6; }

.has-fill-white {
  fill: #fff; }

.has-fill-dark {
  fill: #292929; }

.has-fill-medium {
  fill: #757575; }

.has-fill-light {
  fill: #dddddd; }

.has-fill-ivory {
  fill: #fbf0e9; }

.has-fill-transparent {
  fill: transparent; }

.has-overlay-primary:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F46445;
  opacity: .5; }

.has-overlay-secondary:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F46445;
  opacity: .5; }

.has-overlay-black:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .5; }

.has-overlay-grey:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f6f6f6;
  opacity: .5; }

.has-overlay-white:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: .5; }

.has-overlay-dark:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #292929;
  opacity: .5; }

.has-overlay-medium:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #757575;
  opacity: .5; }

.has-overlay-light:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #dddddd;
  opacity: .5; }

.has-overlay-ivory:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fbf0e9;
  opacity: .5; }

.has-overlay-transparent:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  opacity: .5; }

.overlay-is-1::before {
  opacity: .1; }

.overlay-is-2::before {
  opacity: .2; }

.overlay-is-3::before {
  opacity: .3; }

.overlay-is-4::before {
  opacity: .4; }

.overlay-is-5::before {
  opacity: .5; }

.overlay-is-6::before {
  opacity: .6; }

.overlay-is-7::before {
  opacity: .7; }

.overlay-is-8::before {
  opacity: .8; }

.overlay-is-9::before {
  opacity: .9; }

.is-grayscale::before {
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: gray;
  filter: grayscale(100%); }

/* Spacing
-------------------------------------------------- */
h1,
h2,
h3,
h4,
.title:not(:last-child),
.subtitle:not(:last-child),
p:not(:last-child),
ol:not(:last-child),
ul:not(:last-child),
blockquote:not(:last-child),
.link:not(:last-child),
.btn:not(:last-child),
img:not(:last-child),
.card:not(:last-child) {
  margin-bottom: 24px; }

.heading {
  margin-bottom: 2rem; }

.is-marginless {
  margin: 0; }

.is-paddingless {
  padding: 0; }

.padding-bottom-none {
  padding-bottom: 0 !important; }

.margin-bottom-none {
  margin-bottom: 0 !important; }

.margin-bottom-small {
  margin-bottom: 16px !important; }

.margin-bottom-medium {
  margin-bottom: 32px !important; }

.margin-bottom-large {
  margin-bottom: 64px !important; }

@media (max-width: 768px) {
  .is-paddingless-tablet {
    padding: 0 !important; }
  .is-paddingless-mobile {
    padding: 0 !important; } }

/* Image
-------------------------------------------------- */
img, svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto; }

img.thumb {
  margin-bottom: 1.5rem; }

img.is-left {
  margin-left: 0; }

svg.is-left {
  margin-left: 0; }

img.is-rounded, .rounded img {
  border-radius: 6px; }

img.is-round, .round img {
  border-radius: 50%; }

.ar {
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden; }

.ar-1-1 {
  padding-top: 100%; }

.ar-4-3 {
  padding-top: 75%; }

.ar-3-4 {
  padding-top: 125%; }

.ar-16-9 {
  padding-top: 50%; }

.ar-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px; }

.ar-text-middle {
  align-items: center;
  justify-content: center; }

/* Hide
-------------------------------------------------- */
.hide-on-desktop {
  display: none; }

@media (max-width: 768px) {
  .hide-on-desktop {
    display: block; }
  .hide-on-mobile {
    display: none !important; } }
